<table>
    <tbody>
        <tr>
            <td>
                <img src='{{concert.imageUrl}}' width='100'/>
            </td>
            <td>
                <h2>{{concert.artist}}</h2>
                <p><em>{{concert.date | dateToString}} {{concert.location}}</em></p>
                <p>
                    <span *ngFor='let tag of concert.tags'>
                        <concert-tag [text]='tag'></concert-tag>
                    </span>
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href='{{concert.teaserVideoUrl}}'>Teaser</a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <span *ngFor='let category of concert.ticketCategories'>
                    <concert-ticket-category [name]='category.name' 
                                             [unitPrice]='category.unitPrice'
                                             [limit]='category.limit'></concert-ticket-category>
                </span>
            </td>
        </tr>
    </tbody>
</table>